<!-- <div class='col-md-6'>
    <h1>Welcome to the Shop : {{medicalshop.name}}</h1>
    <table class='table table-striped'>
      <thead>
        <tr>
            <th>Medicine name</th>
            <th>Medicine code</th>
            <th>Quantity</th>
            <th>Unit Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicine of medicines">
            <td>{{medicine.name}}</td>
            <td>{{medicine.code}}</td>
            <td>{{medicine.qty}}</td>
            <td>{{medicine.price}}</td>

           
              
            </tr>
        </tbody>

    </table>
    <div><button routerLink ='/add-medicine' class='btn btn-secondary btn-sm'
        (click)='createMedicine'>add medicine </button></div>
    
 </div> -->
